body {
  color: plum;
  background-color: black;
}
h2,h3,h4,h5,h6 {
  font-family: cursive,sans-serif;
}
h1{
  color: burlywood;
  font-family: "Academy Engraved LET", cursive;
}

table, tr, td, th{
  border: 1px solid white;
}

table{
  border-collapse: collapse;
  font-family: "American Typewriter", sans-serif;
}

#books {text-align: center}
#pizza {text-align: center}

.squarebullets {list-style-type: square
}

nav{
  text-align: center;
  background-color: cornflowerblue;
  font-family: Verdana, Helvetica, sans-serif;
}

nav ul, nav li{
  display: inline-block;
  list-style-type: circle;
}

nav ul li a:hover{
  color: black;
  background-color: aquamarine;
}